<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t :learns %></h3>
  </div>
  <div class="list-group">
    <%= link_to t(:category), categories_path, class: "list-group-item" %>
    <%= link_to t(:words), "#", class: "list-group-item" %>
  </div>
</div>
