<% @user ||= current_user %>
<div class="btn-group btn-group-justified">
  <%= link_to @user_following.to_s << t("follow.following"), following_user_path(@user),
    class: "btn btn-default" %>
  <%= link_to @user_followers.to_s << t("follow.followers"), followers_user_path(@user),
    class: "btn btn-default" %>
</div>
