<footer class="footer">
  <small>
    <p><%= link_to t(:footers), "#" %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
    </ul>
  </nav>
</footer>
